:root {
    --gray1: #2d2d2d;
    --gray2: #3f3f3f;
    --gray3: #828282;
    --gray4: #BDBDBD;
    --white: #fff;
    --black: #000;
    --blue1: #2F80ED;
    --red: #EB5757;
    --green1: #219653;
    --green2: #27AE60;
    --green3: #6FCF97;
}
* {
    font-family: "Montserrat", sans-serif;
    transition: all .3s ease;
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--black);
}
#app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: calc(100vh + 75px);
    top: 20px;
    width: 80%;
}
@media screen and (max-width: 1000px) {
    #app {
        width: 90%;
        top: 0;
    }
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s ease;
}
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}
a {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}
a:hover, button:hover {
    scale: 1.05;
    opacity: .8;
}
a:active, button:active {
    scale: .95;
    opacity: .8;
}
a.btn-primary {
    background-color: var(--blue1);
    border: none;
    outline: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}
button.primary {
    background-color: var(--blue1);
    border: none;
    outline: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}
button:disabled {
    cursor: default;
    opacity: .5;
}
button:hover:disabled {
    scale: 1;
}
.logo {
    background-image: url("/icons/logo.svg");
    min-width: 167px;
    min-height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo.small {
    background-image: url("/icons/small_logo.svg");
    min-width: 50px;
    min-height: 50px;
}
