:root {
    --gray1: #2d2d2d;
    --gray2: #3f3f3f;
    --gray3: #828282;
    --gray4: #BDBDBD;
    --white: #fff;
    --black: #000;
    --blue1: #2F80ED;
    --red: #EB5757;
    --green1: #219653;
    --green2: #27AE60;
    --green3: #6FCF97;
}
* {
    font-family: "Montserrat", sans-serif;
    transition: all .3s ease;
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--black);
    width: 100vw;
}
#app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 20px);
    top: 20px;
    width: 80%;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s ease;
}
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}
a {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}
a:hover, button:hover {
    scale: 1.05;
    opacity: .8;
}
a:active, button:active {
    scale: .95;
    opacity: .8;
}
